<div class="row">
    <div class="col-lg-12">
        <table class="table table-stripped table-hover table-custom">
            <thead>
            <tr>
                <td>Termasuk:</td>
                <td class="text-center">Yes/No</td>
                <td class="text-center">Keterangan</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="f in fasilitas">
                <td>{{ f.name }}</td>
                <td class="text-center">{{ f.choice ? 'Yes' : 'No' }}</td>
                <td class="text-center">-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>