<div class="container paket-details-content">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 text-left">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h5>Travel Agen <a href="#"><i class="fa fa-info-circle">&nbsp;</i></a></h5>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <strong>
                        <h5 class="text-left">: {{ data.agen.nama_agen }}
                            <span><a href="#" class="travel-agent-rating">4.5</a></span></h5>
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h5>Nomor PPIU <a href="#"><i class="fa fa-info-circle">&nbsp;</i></a></h5>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <strong>
                        <h5 class="text-left">: {{ data.agen.no_agen }}</h5>
                    </strong>
                </div>
            </div>
            <div class="feature-tabs">
                <ul class="nav nav-tabs nav-tabs-custom  bottom-bordered" role="tablist">
                    <li role="presentation" class="active tabs-li-custom">
                        <a ng-click="changeTabs('persyaratan')" aria-controls="home" role="tab" data-toggle="tab">
                            <i class="fa fa-calendar"></i><br>
                            {{ data.waktu }}
                        </a>
                        <a  ng-click="changeTabs('persyaratan')" aria-controls="home" role="tab" data-toggle="tab">
                            <i class="fa fa-clock-o"></i><br>
                            {{ data.durasi }} Hari
                        </a>
                        <a  ng-click="changeTabs('persyaratan')" aria-controls="home" role="tab" data-toggle="tab">
                            <i class="fa fa-shield"></i><br>
                            {{ data.embarkasi.nama }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="" ng-click="changeTabs('pesawat')" aria-controls="home" role="tab" data-toggle="tab">
                            <!--<i class="fa fa-plane"></i><br>-->
                            <!--{{ data.pesawat.nama }}-->
                            <img ng-src="p/{{ data.pesawat.logo[0].hashcode }}" alt="Logo" width="100%">
                        </a>
                    </li>
                    <li role="presentation">
                        <a href=""  ng-click="changeTabs('hotel-mekah')" aria-controls="home" role="tab" data-toggle="tab">
                            <img src="/img/hotel_icon.png" alt="Logo" height="60">
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="" ng-click="changeTabs('hotel-madinah')" aria-controls="home" role="tab" data-toggle="tab">
                            <img src="/img/hotel_icon.png" alt="Logo" height="60">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-8">
                    <a href="#" class="share"><i class="fa fa-share-alt-square"></i></a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span class="price-big">$ {{ data.harga }}</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span><i class="fa fa-users">&nbsp;</i>Sisa 10 px</span>
                    <span class="discount">Disc. $17</span>
                </div>
                <div class="form-field">
                    <div class="col-lg-12">
                        <br>
                        <button class="btn btn-orange">Pilih Sekarang !</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ui-view></ui-view>
</div>
