<div class="container paket-details-content">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 text-left">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h5>Travel Agen <a href="#"><i class="fa fa-info-circle">&nbsp;</i></a></h5>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <strong>
                        <h5 class="text-left">: {{ data.agen.nama_agen }}
                            <span><a href="#" class="travel-agent-rating">4.5</a></span></h5>
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h5>Nomor PPIU <a href="#"><i class="fa fa-info-circle">&nbsp;</i></a></h5>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <strong>
                        <h5 class="text-left">: {{ data.agen.no_agen }}</h5>
                    </strong>
                </div>
            </div>
            <div class="feature-tabs">
                <ul class="nav nav-tabs nav-tabs-custom  bottom-bordered" role="tablist">
                    <li role="presentation" class="active tabs-li-custom">
                        <a ng-click="changeTabs('persyaratan')" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="calendar-icon">
                                <img src="/img/calendar_paket_icon.png" alt="Calendar Icon" height="100">
                                <span class="bulan" style="left: 24px;">
                                    {{  data.waktu.bulan  }}
                                </span>
                                            <span class="tanggal" style="left: 30px;">
                                    {{  data.waktu.tanggal }}
                                </span>
                                            <span class="tahun" style="left: 32px;">
                                    {{  data.waktu.tahun }}
                                </span>
                            </div>
                        </a>
                        <a  ng-click="changeTabs('persyaratan')" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="durasi-icon" style="padding-top: 0;">
                                <img src="/img/durasi_icon.png" alt="Durasi Icon" height="80">
                                <span class="durasi" style="top: 18px;left: 28px;">
                                    {{ data.durasi }}
                                </span>
                                        </div>
                                        Hari
                        </a>
                        <a  ng-click="changeTabs('persyaratan')" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="embarkasi-icon" style="padding-top: 0;">
                                <img src="/img/embarkasi_icon.png" alt="Embarkasi Icon" height="80">
                            </div>
                            {{ data.embarkasi.nama }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="" ng-click="changeTabs('pesawat')" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="pesawat-icon" style="padding-top: 1em;">
                                <img ng-src="p/{{ data.pesawat.logo[0].hashcode }}" alt="Logo Pesawat" width="105">
                            </div>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href=""  ng-click="changeTabs('hotel-mekah')" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="hotel-icon" style="padding-top: 0;">
                                <span class="rating mekah" style="left: 43px;">3</span>
                                <img src="/img/hotel_icon.png" alt="Hotel Icon" height="80">
                            </div>
                            <span class="text-center">{{ data.hotel_mekah.nama }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="" ng-click="changeTabs('hotel-madinah')" aria-controls="home" role="tab" data-toggle="tab">
                            <div class="hotel-icon" style="padding-top: 0;">
                                <span class="rating madinah" style="left: 43px;">3</span>
                                <img src="/img/hotel_icon.png" alt="Hotel Icon" height="80">
                            </div>
                            <span class="text-center">{{ data.hotel_madinah.nama }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-8">
                    <a href="#" class="share"><i class="fa fa-share-alt-square"></i></a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span class="price-big">$ {{ data.harga }}</span>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <span><i class="fa fa-users">&nbsp;</i>Sisa 10 px</span>
                    <span class="discount">Disc. $17</span>
                </div>
                <div class="form-field">
                    <div class="col-lg-12">
                        <br>
                        <a ui-sref="pesan({paketId: data.id})" class="btn btn-orange"><i class="fa fa-shopping-cart">&nbsp;</i>Pilih Sekarang</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <ui-view></ui-view>
</div>
