<div class="tab-content text-left smaller-text">
    <div role="tabpanel" class="tab-pane active" id="persyaratan">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h5 class="text-left">Persyaratan untuk mendapatkan VISA umroh :</h5>
                <div class="row">
                    <div class="col-lg-1 text-right">
                        <p>1. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Paspor</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Paspor berlaku minimal 8 bulan dan nama di paspor harus 3 kata, contoh : Siti Aisyah Uni</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 text-right">
                        <p>2. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Pas foto terbaru</p>
                    </div>
                    <div class="col-lg-7">
                        <ul>
                            <li>Berwarna</li>
                            <li>Latar belakang (layar) foto berwarna putih</li>
                            <li>Close Up (wajah terlihat 80%)</li>
                            <li>Tidak memakai kacamata hitam</li>
                            <li>Wanita harus memakai hijab</li>
                            <li>Ukuran foto 4 x 6 = 6 lembar</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">3. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>KTP</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Fotocopy KTP</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">4. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>KTP/KK Asli</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Bagi wanita di atas 45 tahun</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">5. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Akta kelahiran dan KK asli</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Untuk peserta anak</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">
                            6.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Surat nikah dan KK asli</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Bagi peserta suami istri</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">7. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Uang Muka</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Membayar uang muka pendaftaran sebesar 5Jt</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">
                            8.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Pelunasan</p>
                    </div>
                    <div class="col-lg-7">
                        30 hari sebelum keberangkatan
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">9. </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Pendaftaran</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Minimal 1 bulan sebelum keberangkatan (selama tempat masih tersedia)</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <p class="text-right">
                            10.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <p>Kartu Kuning</p>
                    </div>
                    <div class="col-lg-7">
                        <p>Menyerahkan bukti suntik meningitis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
