<div class="fotorama" data-nav="thumbs" data-width="100%" data-navposition="right" data-auto="false"></div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h4 class="text-center">Jenis Pesawat</h4>
            <h5 class="text-center">
                {{ data.jenis }}
            </h5>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h4 class="text-center">Kelas</h4>
            <h5 class="text-center">
                {{ data.kelas }}
            </h5>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h4 class="text-center">Makanan</h4>
            <h5 class="text-center">
                {{ data.makanan }}
            </h5>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h4 class="text-center">Hiburan</h4>
            <h5 class="text-center">
                {{ data.hiburan }}
            </h5>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h4 class="text-center">Penghargaan</h4>
            <h5 class="text-center">
                {{ data.penghargaan }}
            </h5>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h4 class="text-center">Rating</h4>
            <h5 class="text-center">
                {{ data.penghargaan }}
            </h5>
        </div>
    </div>
</div>