<div class="fotorama" data-nav="thumbs" data-width="100%" data-navposition="right" data-auto="false"></div>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h3 class="text-center">Jenis Pesawat</h3>
            <h4 class="text-center">
                {{ data.jenis }}
            </h4>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h3 class="text-center">Kelas</h3>
            <h4 class="text-center">
                {{ data.kelas }}
            </h4>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h3 class="text-center">Makanan</h3>
            <h4 class="text-center">
                {{ data.makanan }}
            </h4>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h3 class="text-center">Hiburan</h3>
            <h4 class="text-center">
                {{ data.hiburan }}
            </h4>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h3 class="text-center">Penghargaan</h3>
            <h4 class="text-center">
                {{ data.penghargaan }}
            </h4>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12">
        <div class="pesawat-details">
            <h3 class="text-center">Rating</h3>
            <h4 class="text-center">
                {{ data.penghargaan }}
            </h4>
        </div>
    </div>
</div>